body {
    background-color: darkseagreen;
}

h1 {
    font-size: 20px;
    color: darkblue;
}

div {
    padding: 30px auto;
    background-color: aquamarine;
    background-color: turquoise;
    border: 2px solid darkgoldenrod;
}

ul {
    background-color: darkslateblue;
    border: dimgray;
}

li {
    color: hotpink;
    border-bottom: 1px solid cyan;
}